  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link text-center">
      <span class="brand-text font-weight-light">管理系統</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        
        <div class="info text-center" style="width: 100%">
          <a href="{{ url_for('base_blueprint.logout') }}" class="d-block">
            {{ current_user.username }} - Logout
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview {% if 'category' in segment %} menu-open {% endif %}">
            <a href="/category-edit" class="nav-link {% if 'category-edit' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                分類新增/編輯
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview {% if 'posts' in segment %} menu-open {% endif %}">
            <a href="/posts-edit" class="nav-link {% if 'posts-edit' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                文章新增/編輯
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  